<%= @article.title %>
<%= @article.content %>

<form action='/articles/<%= @article.id %>/delete' method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button id="submit" type="submit" value="delete">Delete</button>
</form>
